USE [LGS_UAT]
GO
/****** Object:  StoredProcedure [dbo].[spWebSendNotification]    Script Date: 2/09/2021 1:08:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
+--------------------------------------------------------------------------------------------
| FUNCTION:  
| HISTORY:
| DATE			WHO      		DESCRIPTION OF CHANGE
| ---------------------------------------------------------------------------------
| 27/02/2019 	DWDEN			Send a notification from the Decision App
+--------------------------------------------------------------------------------------------*/
--grant execute on [spWebSendNotification] to webuser
ALTER PROCEDURE [dbo].[spWebSendNotification]
@Type varchar(32),
@ToAddress varchar(256),
@Subject varchar(256),
@Content varchar(max),
@JSON varchar(max) = null
	
AS

DECLARE
	@EmailContent varchar(max),
	@LGO_URL varchar(256),
	@SecureCBS_URL varchar(256)

BEGIN
	SET NOCOUNT ON 

	DECLARE @CarbonCopies table (ID int NOT NULL identity(1,1), ToAddress varchar(max))

	IF DB_NAME() != 'LGS' OR CONNECTIONPROPERTY('local_net_address') != '10.106.32.178' BEGIN
		SET @ToAddress = 'david.dennis@sa.gov.au'
		SET @LGO_URL = 'agdlgouat02'
		SET @SecureCBS_URL = 'https://secure.cbs.sa.gov.au/LGPubReg/UAT/'
	END ELSE BEGIN
		SET @LGO_URL = 'agdlgoapp01'
		SET @SecureCBS_URL = 'https://secure.cbs.sa.gov.au/LGPubReg/'
	END

	IF @Type = 'FreeEmail'
		SET @EmailContent = '****CONTENT****'
	
	ELSE IF @Type = 'FileAssignment'
		SET @EmailContent = '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html data-editor-version="2" class="sg-campaigns" xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"> <!--[if !mso]><!--><meta http-equiv="X-UA-Compatible" content="IE=Edge"> <!--<![endif]--> <!--[if (gte mso 9)|(IE)]> <xml> <o:OfficeDocumentSettings> <o:AllowPNG/> <o:PixelsPerInch>96</o:PixelsPerInch> </o:OfficeDocumentSettings> </xml> <![endif]--> <!--[if (gte mso 9)|(IE)]><style type="text/css">body{width:720px;margin:0 auto}table{border-collapse:collapse}table,td{mso-table-lspace:0pt;mso-table-rspace:0pt}img{-ms-interpolation-mode:bicubic}</style><![endif]--><style type="text/css">body,p,div{font-family:arial,helvetica,sans-serif;font-size:14px}body{color:#000}body a{color:#1188E6;text-decoration:none}p{margin:0;padding:0}table.wrapper{width:100% !important;table-layout:fixed;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%}img.max-width{max-width:100% !important}.column.of-2{width:50%}.column.of-3{width:33.333%}.column.of-4{width:25%}@media screen and (max-width:480px){.preheader .rightColumnContent, .footer .rightColumnContent{text-align:left !important}.preheader .rightColumnContent div, .preheader .rightColumnContent span, .footer .rightColumnContent div, .footer .rightColumnContent span{text-align:left !important}.preheader .rightColumnContent, .preheader .leftColumnContent{font-size:80% !important;padding:5px 0}table.wrapper-mobile{width:100% !important;table-layout:fixed}img.max-width{height:auto !important;max-width:100% !important}a.bulletproof-button{display:block !important;width:auto !important;font-size:80%;padding-left:0 !important;padding-right:0 !important}.columns{width:100% !important}.column{display:block !important;width:100% !important;padding-left:0 !important;padding-right:0 !important;margin-left:0 !important;margin-right:0 !important}}</style></head><body><center class="wrapper" data-link-color="#1188E6" data-body-style="font-size:14px; font-family:arial,helvetica,sans-serif; color:#000000; background-color:#ffffff;"><div class="webkit"><table cellpadding="0" cellspacing="0" border="0" width="100%" class="wrapper" bgcolor="#ffffff"><tbody><tr><td valign="top" bgcolor="#ffffff" width="100%"><table width="100%" role="content-container" class="outer" align="center" cellpadding="0" cellspacing="0" border="0"><tbody><tr><td width="100%"><table width="100%" cellpadding="0" cellspacing="0" border="0"><tbody><tr><td> <!--[if mso]><center><table><tr><td width="600"> <![endif]--><table width="100%" cellpadding="0" cellspacing="0" border="0" style="width:100%; max-width:720px;" align="center"><tbody><tr><td role="modules-container" style="padding:0px 0px 0px 0px; color:#000000; text-align:left;" bgcolor="#FFFFFF" width="100%" align="left"><table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="c562be02-558d-4899-b9f7-cbea97383516"><tbody><tr><td style="padding:0px 0px 50px 0px;" role="module-content" bgcolor=""></td></tr></tbody></table><table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="9689311f-ea9b-4212-9d54-d7520368d540"><tbody><tr><td style="padding:0px 0px 8px 0px;" role="module-content" bgcolor="#002776"></td></tr></tbody></table><table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" role="module" data-type="columns" style="padding:0px 20px 0px 20px;" bgcolor="#f4f5f9"><tbody><tr role="module-content"><td height="100%" valign="top"><table class="column" width="680" style="width:680px; border-spacing:0; border-collapse:collapse; margin:0px 20px 0px 20px;" cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""><tbody><tr><td style="padding:0px;margin:0px;border-spacing:0;"><table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="7306c8a7-55b7-4e52-a437-58100495946e"><tbody><tr><td style="padding:0px 0px 30px 0px;" role="module-content" bgcolor=""></td></tr></tbody></table><table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="3a0a561e-f851-4f31-bbb9-78e47d7060aa.1" data-mc-module-version="2019-10-22"><tbody><tr><td style="padding:18px 0px 18px 0px; line-height:20px; text-align:inherit;" height="100%" valign="top" bgcolor="" role="module-content"><div><div style="font-family: inherit; text-align: inherit"><span style="color: #002060; font-size: 20px; font-family: arial black, helvetica, sans-serif"><strong>****TITLE****</strong></span></div><div></div></div></td></tr></tbody></table><table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="b3cfbc50-5a2c-4b82-aa28-d2d2859bc2d5" data-mc-module-version="2019-10-22"><tbody><tr><td style="padding:18px 18px 18px 18px; line-height:26px; text-align:inherit; background-color:#ffffff;" height="100%" valign="top" bgcolor="#ffffff" role="module-content"><div>****CONTENT****</div></td></tr></tbody></table><table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="d741b0b1-5f40-40d3-b371-d13ad8e3d97c.2"><tbody><tr><td style="padding:0px 0px 30px 0px;" role="module-content" bgcolor=""></td></tr></tbody></table><table border="0" cellpadding="0" cellspacing="0" class="module" data-role="module-button" data-type="button" role="module" style="table-layout:fixed;" width="100%" data-muid="f643b28f-e295-45d9-b954-dad15f52097a"><tbody><tr><td align="center" bgcolor="" class="outer-td" style="padding:0px 0px 0px 0px;"><table border="0" cellpadding="0" cellspacing="0" class="wrapper-mobile" style="text-align:center;"><tbody><tr><td align="center" bgcolor="#cd1442" class="inner-td" style="border-radius:6px; font-size:16px; text-align:center; background-color:inherit;"> <a href="http://'+@LGO_URL+'/LGX/#/MyFiles" style="background-color:#cd1442; border:1px solid #cd1442; border-color:#cd1442; border-radius:0px; border-width:1px; color:#ffffff; display:inline-block; font-size:16px; font-weight:300; letter-spacing:1px; line-height:normal; padding:12px 18px 12px 18px; text-align:center; text-decoration:none; border-style:solid; font-family:helvetica,sans-serif;" target="_blank">Open My Files</a></td></tr></tbody></table></td></tr></tbody></table><table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="8e45a094-c96e-40b0-9348-0ab878558e7b" data-mc-module-version="2019-10-22"><tbody><tr><td style="padding:18px 0px 18px 0px; line-height:22px; text-align:inherit;" height="100%" valign="top" bgcolor="" role="module-content"><div><div style="font-family: inherit; text-align: center"><span style="color: #999999; font-size: 9px; font-family: arial,helvetica,sans-serif">This message was sent by Liquor & Gaming Online (LGO). Do not reply</span></div><div></div></div></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table> <!--[if mso]></td></tr></table></center> <![endif]--></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></div></center></body></html>'
		
	ELSE IF @Type = 'SAPOLPortal'
		SET @EmailContent = '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html data-editor-version="2" class="sg-campaigns" xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"> <!--[if !mso]><!--><meta http-equiv="X-UA-Compatible" content="IE=Edge"> <!--<![endif]--> <!--[if (gte mso 9)|(IE)]> <xml> <o:OfficeDocumentSettings> <o:AllowPNG/> <o:PixelsPerInch>96</o:PixelsPerInch> </o:OfficeDocumentSettings> </xml> <![endif]--> <!--[if (gte mso 9)|(IE)]><style type="text/css">body{width:720px;margin:0 auto}table{border-collapse:collapse}table,td{mso-table-lspace:0pt;mso-table-rspace:0pt}img{-ms-interpolation-mode:bicubic}</style><![endif]--><style type="text/css">body,p,div{font-family:arial,helvetica,sans-serif;font-size:14px}body{color:#000}body a{color:#1188E6;text-decoration:none}p{margin:0;padding:0}table.wrapper{width:100% !important;table-layout:fixed;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%}img.max-width{max-width:100% !important}.column.of-2{width:50%}.column.of-3{width:33.333%}.column.of-4{width:25%}@media screen and (max-width:480px){.preheader .rightColumnContent, .footer .rightColumnContent{text-align:left !important}.preheader .rightColumnContent div, .preheader .rightColumnContent span, .footer .rightColumnContent div, .footer .rightColumnContent span{text-align:left !important}.preheader .rightColumnContent, .preheader .leftColumnContent{font-size:80% !important;padding:5px 0}table.wrapper-mobile{width:100% !important;table-layout:fixed}img.max-width{height:auto !important;max-width:100% !important}a.bulletproof-button{display:block !important;width:auto !important;font-size:80%;padding-left:0 !important;padding-right:0 !important}.columns{width:100% !important}.column{display:block !important;width:100% !important;padding-left:0 !important;padding-right:0 !important;margin-left:0 !important;margin-right:0 !important}}</style></head><body><center class="wrapper" data-link-color="#1188E6" data-body-style="font-size:14px; font-family:arial,helvetica,sans-serif; color:#000000; background-color:#ffffff;"><div class="webkit"><table cellpadding="0" cellspacing="0" border="0" width="100%" class="wrapper" bgcolor="#ffffff"><tbody><tr><td valign="top" bgcolor="#ffffff" width="100%"><table width="100%" role="content-container" class="outer" align="center" cellpadding="0" cellspacing="0" border="0"><tbody><tr><td width="100%"><table width="100%" cellpadding="0" cellspacing="0" border="0"><tbody><tr><td> <!--[if mso]><center><table><tr><td width="600"> <![endif]--><table width="100%" cellpadding="0" cellspacing="0" border="0" style="width:100%; max-width:720px;" align="center"><tbody><tr><td role="modules-container" style="padding:0px 0px 0px 0px; color:#000000; text-align:left;" bgcolor="#FFFFFF" width="100%" align="left"><table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="c562be02-558d-4899-b9f7-cbea97383516"><tbody><tr><td style="padding:0px 0px 50px 0px;" role="module-content" bgcolor=""></td></tr></tbody></table><table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="9689311f-ea9b-4212-9d54-d7520368d540"><tbody><tr><td style="padding:0px 0px 8px 0px;" role="module-content" bgcolor="#002776"></td></tr></tbody></table><table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" role="module" data-type="columns" style="padding:0px 20px 0px 20px;" bgcolor="#f4f5f9"><tbody><tr role="module-content"><td height="100%" valign="top"><table class="column" width="680" style="width:680px; border-spacing:0; border-collapse:collapse; margin:0px 20px 0px 20px;" cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""><tbody><tr><td style="padding:0px;margin:0px;border-spacing:0;"><table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="7306c8a7-55b7-4e52-a437-58100495946e"><tbody><tr><td style="padding:0px 0px 30px 0px;" role="module-content" bgcolor=""></td></tr></tbody></table><table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="3a0a561e-f851-4f31-bbb9-78e47d7060aa.1" data-mc-module-version="2019-10-22"><tbody><tr><td style="padding:18px 0px 18px 0px; line-height:20px; text-align:inherit;" height="100%" valign="top" bgcolor="" role="module-content"><div><div style="font-family: inherit; text-align: inherit"><span style="color: #002060; font-size: 20px; font-family: arial black, helvetica, sans-serif"><strong>****TITLE****</strong></span></div><div></div></div></td></tr></tbody></table><table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="b3cfbc50-5a2c-4b82-aa28-d2d2859bc2d5" data-mc-module-version="2019-10-22"><tbody><tr><td style="padding:18px 18px 18px 18px; line-height:26px; text-align:inherit; background-color:#ffffff;" height="100%" valign="top" bgcolor="#ffffff" role="module-content"><div>****CONTENT****</div></td></tr></tbody></table><table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="d741b0b1-5f40-40d3-b371-d13ad8e3d97c.2"><tbody><tr><td style="padding:0px 0px 30px 0px;" role="module-content" bgcolor=""></td></tr></tbody></table><table border="0" cellpadding="0" cellspacing="0" class="module" data-role="module-button" data-type="button" role="module" style="table-layout:fixed;" width="100%" data-muid="f643b28f-e295-45d9-b954-dad15f52097a"><tbody><tr><td align="center" bgcolor="" class="outer-td" style="padding:0px 0px 0px 0px;"><table border="0" cellpadding="0" cellspacing="0" class="wrapper-mobile" style="text-align:center;"><tbody><tr><td align="center" bgcolor="#cd1442" class="inner-td" style="border-radius:6px; font-size:16px; text-align:center; background-color:inherit;"> <a href="http://'+@LGO_URL+'/LGX/#/MyFiles" style="background-color:#cd1442; border:1px solid #cd1442; border-color:#cd1442; border-radius:0px; border-width:1px; color:#ffffff; display:inline-block; font-size:16px; font-weight:300; letter-spacing:1px; line-height:normal; padding:12px 18px 12px 18px; text-align:center; text-decoration:none; border-style:solid; font-family:helvetica,sans-serif;" target="_blank">Open My Files</a></td></tr></tbody></table></td></tr></tbody></table><table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="8e45a094-c96e-40b0-9348-0ab878558e7b" data-mc-module-version="2019-10-22"><tbody><tr><td style="padding:18px 0px 18px 0px; line-height:22px; text-align:inherit;" height="100%" valign="top" bgcolor="" role="module-content"><div><div style="font-family: inherit; text-align: center"><span style="color: #999999; font-size: 9px; font-family: arial,helvetica,sans-serif">This message was sent by Liquor & Gaming Online (LGO). Do not reply</span></div><div></div></div></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table> <!--[if mso]></td></tr></table></center> <![endif]--></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></div></center></body></html>'
	
	ELSE IF @Type = 'LimitedLicence' BEGIN
		SET @EmailContent = '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html data-editor-version="2" class="sg-campaigns" xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"> <!--[if !mso]><!--><meta http-equiv="X-UA-Compatible" content="IE=Edge"> <!--<![endif]--> <!--[if (gte mso 9)|(IE)]> <xml> <o:OfficeDocumentSettings> <o:AllowPNG/> <o:PixelsPerInch>96</o:PixelsPerInch> </o:OfficeDocumentSettings> </xml> <![endif]--> <!--[if (gte mso 9)|(IE)]><style type="text/css">body{width:720px;margin:0 auto}table{border-collapse:collapse}table,td{mso-table-lspace:0pt;mso-table-rspace:0pt}img{-ms-interpolation-mode:bicubic}</style><![endif]--><style type="text/css">body,p,div{font-family:arial,helvetica,sans-serif;font-size:14px}body{color:#000}body a{color:#1188E6;text-decoration:none}p{margin:0;padding:0}table.wrapper{width:100% !important;table-layout:fixed;-webkit-font-smoothing:antialiased;-webkit-text-size-adjust:100%;-moz-text-size-adjust:100%;-ms-text-size-adjust:100%}img.max-width{max-width:100% !important}.column.of-2{width:50%}.column.of-3{width:33.333%}.column.of-4{width:25%}@media screen and (max-width:480px){.preheader .rightColumnContent, .footer .rightColumnContent{text-align:left !important}.preheader .rightColumnContent div, .preheader .rightColumnContent span, .footer .rightColumnContent div, .footer .rightColumnContent span{text-align:left !important}.preheader .rightColumnContent, .preheader .leftColumnContent{font-size:80% !important;padding:5px 0}table.wrapper-mobile{width:100% !important;table-layout:fixed}img.max-width{height:auto !important;max-width:100% !important}a.bulletproof-button{display:block !important;width:auto !important;font-size:80%;padding-left:0 !important;padding-right:0 !important}.columns{width:100% !important}.column{display:block !important;width:100% !important;padding-left:0 !important;padding-right:0 !important;margin-left:0 !important;margin-right:0 !important}}</style></head><body><center class="wrapper" data-link-color="#1188E6" data-body-style="font-size:14px; font-family:arial,helvetica,sans-serif; color:#000000; background-color:#ffffff;"><div class="webkit"><table cellpadding="0" cellspacing="0" border="0" width="100%" class="wrapper" bgcolor="#ffffff"><tbody><tr><td valign="top" bgcolor="#ffffff" width="100%"><table width="100%" role="content-container" class="outer" align="center" cellpadding="0" cellspacing="0" border="0"><tbody><tr><td width="100%"><table width="100%" cellpadding="0" cellspacing="0" border="0"><tbody><tr><td> <!--[if mso]><center><table><tr><td width="600"> <![endif]--><table width="100%" cellpadding="0" cellspacing="0" border="0" style="width:100%; max-width:720px;" align="center"><tbody><tr><td role="modules-container" style="padding:0px 0px 0px 0px; color:#000000; text-align:left;" bgcolor="#FFFFFF" width="100%" align="left"><table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="c562be02-558d-4899-b9f7-cbea97383516"><tbody><tr><td style="padding:0px 0px 50px 0px;" role="module-content" bgcolor=""></td></tr></tbody></table><table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="9689311f-ea9b-4212-9d54-d7520368d540"><tbody><tr><td style="padding:0px 0px 8px 0px;" role="module-content" bgcolor="#002776"></td></tr></tbody></table><table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" role="module" data-type="columns" style="padding:0px 20px 0px 20px;" bgcolor="#f4f5f9"><tbody><tr role="module-content"><td height="100%" valign="top"><table class="column" width="680" style="width:680px; border-spacing:0; border-collapse:collapse; margin:0px 20px 0px 20px;" cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""><tbody><tr><td style="padding:0px;margin:0px;border-spacing:0;"><table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="7306c8a7-55b7-4e52-a437-58100495946e"><tbody><tr><td style="padding:0px 0px 30px 0px;" role="module-content" bgcolor=""></td></tr></tbody></table><table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="3a0a561e-f851-4f31-bbb9-78e47d7060aa.1" data-mc-module-version="2019-10-22"><tbody><tr><td style="padding:18px 0px 18px 0px; line-height:20px; text-align:inherit;" height="100%" valign="top" bgcolor="" role="module-content"><div><div style="font-family: inherit; text-align: inherit"><span style="color: #002060; font-size: 20px; font-family: arial black, helvetica, sans-serif"><strong>****TITLE****</strong></span></div><div></div></div></td></tr></tbody></table><table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="b3cfbc50-5a2c-4b82-aa28-d2d2859bc2d5" data-mc-module-version="2019-10-22"><tbody><tr><td style="padding:18px 18px 18px 18px; line-height:26px; text-align:inherit; background-color:#ffffff;" height="100%" valign="top" bgcolor="#ffffff" role="module-content"><div>****CONTENT****</div></td></tr></tbody></table><table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="d741b0b1-5f40-40d3-b371-d13ad8e3d97c.2"><tbody><tr><td style="padding:0px 0px 30px 0px;" role="module-content" bgcolor=""></td></tr></tbody></table><table border="0" cellpadding="0" cellspacing="0" class="module" data-role="module-button" data-type="button" role="module" style="table-layout:fixed;" width="100%" data-muid="f643b28f-e295-45d9-b954-dad15f52097a"><tbody><tr><td align="center" bgcolor="" class="outer-td" style="padding:0px 0px 0px 0px;"><table border="0" cellpadding="0" cellspacing="0" class="wrapper-mobile" style="text-align:center;"><tbody><tr><td align="center" bgcolor="#cd1442" class="inner-td" style="border-radius:6px; font-size:16px; text-align:center; background-color:inherit;"> <a href="****LINK****" style="background-color:#cd1442; border:1px solid #cd1442; border-color:#cd1442; border-radius:0px; border-width:1px; color:#ffffff; display:inline-block; font-size:16px; font-weight:300; letter-spacing:1px; line-height:normal; padding:12px 18px 12px 18px; text-align:center; text-decoration:none; border-style:solid; font-family:helvetica,sans-serif;" target="_blank">View My Licence</a></td></tr></tbody></table></td></tr></tbody></table><table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="8e45a094-c96e-40b0-9348-0ab878558e7b" data-mc-module-version="2019-10-22"><tbody><tr><td style="padding:18px 0px 18px 0px; line-height:22px; text-align:inherit;" height="100%" valign="top" bgcolor="" role="module-content"><div><div style="font-family: inherit; text-align: center"><span style="color: #999999; font-size: 9px; font-family: arial,helvetica,sans-serif">This message was sent by Liquor & Gaming Online (LGO). Do not reply</span></div><div></div></div></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table> <!--[if mso]></td></tr></table></center> <![endif]--></td></tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table></div></center></body></html>'
		IF (DB_NAME() = 'LGS' OR CONNECTIONPROPERTY('local_net_address') = '10.106.32.178') AND LOWER(RIGHT(@ToAddress, 10)) = '@gmail.com'
			SET @ToAddress = @ToAddress + '; ShortTerms@sa.gov.au'
	END
	
	ELSE IF @Type = 'PermanentLicence' BEGIN
		DECLARE @LIC_ID numeric(18,0)
		SELECT @LIC_ID = APP_LIC_ID, @ToAddress = APP_ContactEmail FROM Applications where APP_ID = JSON_VALUE(@JSON, '$.APP_ID')
		SET @EmailContent = '<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"><html data-editor-version="2" class="sg-campaigns" xmlns="http://www.w3.org/1999/xhtml"><head> <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"> <meta http-equiv="X-UA-Compatible" content="IE=Edge"> <style type="text/css"> body, p, div{font-family: arial, helvetica, sans-serif; font-size: 14px}body{color: #000}body a{color: #1188E6; text-decoration: none}p{margin: 0; padding: 0}table.wrapper{width: 100% !important; table-layout: fixed; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%}img.max-width{max-width: 100% !important}.column.of-2{width: 50%}.column.of-3{width: 33.333%}.column.of-4{width: 25%}@media screen and (max-width:480px){.preheader .rightColumnContent, .footer .rightColumnContent{text-align: left !important}.preheader .rightColumnContent div, .preheader .rightColumnContent span, .footer .rightColumnContent div, .footer .rightColumnContent span{text-align: left !important}.preheader .rightColumnContent, .preheader .leftColumnContent{font-size: 80% !important; padding: 5px 0}table.wrapper-mobile{width: 100% !important; table-layout: fixed}img.max-width{height: auto !important; max-width: 100% !important}a.bulletproof-button{display: block !important; width: auto !important; font-size: 80%; padding-left: 0 !important; padding-right: 0 !important}.columns{width: 100% !important}.column{display: block !important; width: 100% !important; padding-left: 0 !important; padding-right: 0 !important; margin-left: 0 !important; margin-right: 0 !important}}</style></head><body> <center class="wrapper" data-link-color="#1188E6" data-body-style="font-size:14px; font-family:arial,helvetica,sans-serif; color:#000000; background-color:#ffffff;"> <div class="webkit"> <table cellpadding="0" cellspacing="0" border="0" width="100%" class="wrapper" bgcolor="#ffffff"> <tbody> <tr> <td valign="top" bgcolor="#ffffff" width="100%"> <table width="100%" role="content-container" class="outer" align="center" cellpadding="0" cellspacing="0" border="0"> <tbody> <tr> <td width="100%"> <table width="100%" cellpadding="0" cellspacing="0" border="0"> <tbody> <tr> <td> <table width="100%" cellpadding="0" cellspacing="0" border="0" style="width:100%; max-width:720px;" align="center"> <tbody> <tr> <td role="modules-container" style="padding:0px 0px 0px 0px; color:#000000; text-align:left;" bgcolor="#FFFFFF" width="100%" align="left"> <table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="c562be02-558d-4899-b9f7-cbea97383516"> <tbody> <tr> <td style="padding:0px 0px 50px 0px;" role="module-content" bgcolor=""></td></tr></tbody> </table> <table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="9689311f-ea9b-4212-9d54-d7520368d540"> <tbody> <tr> <td style="padding:0px 0px 8px 0px;" role="module-content" bgcolor="#002776"></td></tr></tbody> </table> <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" role="module" data-type="columns" style="padding:0px 20px 0px 20px;" bgcolor="#f4f5f9"> <tbody> <tr role="module-content"> <td height="100%" valign="top"> <table class="column" width="680" style="width:680px; border-spacing:0; border-collapse:collapse; margin:0px 20px 0px 20px;" cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""> <tbody> <tr> <td style="padding:0px;margin:0px;border-spacing:0;"> <table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="7306c8a7-55b7-4e52-a437-58100495946e"> <tbody> <tr> <td style="padding:0px 0px 30px 0px;" role="module-content" bgcolor=""></td></tr></tbody> </table> <table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="b3cfbc50-5a2c-4b82-aa28-d2d2859bc2d5" data-mc-module-version="2019-10-22"> <tbody> <tr> <td style="padding:18px 18px 18px 18px; line-height:26px; text-align:inherit; background-color:#ffffff;" height="100%" valign="top" bgcolor="#ffffff" role="module-content"> <div>Good ****MORNING_AFTERNOON****<br><br>Please be advised the following ****APP_ONE_MANY**** been finalised:<br><br><table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;"><tbody><tr><td style="width: 30%" width="30%"><strong>Reference No:</strong></td><td>****LGO_REFERENCE****</td></tr><tr><td style="vertical-align: top"><strong>Application types:</strong></td><td>****APP_TYPES****</td></tr><tr><td style="vertical-align: top"><strong>Premises:</strong></td><td>****PREMISES****</td></tr><tr><td style="vertical-align: top"><strong>Decision:</strong></td><td>****DECISION_TYPE****</td></tr><tr><td style="vertical-align: top"><strong>Decision No:</strong></td><td>****ORDER_NUMBER****</td></tr></tbody></table><br>A copy of the outcome and any other relevant documents are attached to this email.<br><br><h1>What''s next?</h1>****INVOICE****<h3>Person approval badges</h3>If you requested badges as a part of your application, they will be posted to you shortly.<br><br><h3>Read about your responsibilities as a licensee</h3>Please ensure you read the <a href="https://www.sa.gov.au/topics/business-and-trade/liquor/running-a-licensed-venue/key-responsibilities-of-liquor-licensees">key responsibilities and obligations of running a licensed venue</a> including how to display your licence, the required signage and other important information to ensure you are compliant with the legislation and <a href="https://www.sa.gov.au/topics/business-and-trade/liquor/running-a-licensed-venue/Codes-of-practice">Commissioner`s Codes of Practice</a>.<br><br>Please note, you are still required to comply with the COVID-19 responsibilities and restrictions put in place by the <i>Declaration of a Major Emergency under the Emergency Management Act 2004</i>.<br><br>For all information relating to COVID-19 and licence holders, please visit <a href="https://www.cbs.sa.gov.au/liquor-licence-holders-and-covid-19">https://www.cbs.sa.gov.au/liquor-licence-holders-and-covid-19</a>.<br><br>Also, for all information relating to COVID-19 and the responsibilities and restrictions, please visit <a href="https://www.covid-19.sa.gov.au/">https://www.covid-19.sa.gov.au/</a>.<br><br>Kind regards<br><br>The Liquor & Gaming Team<br>Consumer and Business Services</div></td></tr></tbody> </table> <table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="d741b0b1-5f40-40d3-b371-d13ad8e3d97c.2"> <tbody> <tr> <td style="padding:0px 0px 30px 0px;" role="module-content" bgcolor=""></td></tr></tbody> </table> <table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="8e45a094-c96e-40b0-9348-0ab878558e7b" data-mc-module-version="2019-10-22"> <tbody> <tr> <td style="padding:18px 0px 18px 0px; line-height:22px; text-align:inherit;" height="100%" valign="top" bgcolor="" role="module-content"> <div> <div style="font-family: inherit; text-align: center"><span style="color: #999999; font-size: 9px; font-family: arial,helvetica,sans-serif">This message was sent by Liquor & Gaming Online (LGO). Do not reply</span></div><div></div></div></td></tr></tbody> </table> </td></tr></tbody> </table> </td></tr></tbody> </table> </td></tr></tbody> </table> </td></tr></tbody> </table> </td></tr></tbody> </table> </td></tr></tbody> </table> </div></center></body></html>'
		SET @EmailContent = REPLACE(@EmailContent, '****MORNING_AFTERNOON****', JSON_VALUE(@JSON, '$.MorningAfternoon'))
		SET @EmailContent = REPLACE(@EmailContent, '****APP_ONE_MANY****', JSON_VALUE(@JSON, '$.AppOneMany'))
		SET @EmailContent = REPLACE(@EmailContent, '****LGO_REFERENCE****', JSON_VALUE(@JSON, '$.LGOReference'))
		SET @EmailContent = REPLACE(@EmailContent, '****APP_TYPES****', JSON_VALUE(@JSON, '$.AppTypes'))
		SET @EmailContent = REPLACE(@EmailContent, '****PREMISES****', JSON_VALUE(@JSON, '$.Premises'))
		SET @EmailContent = REPLACE(@EmailContent, '****DECISION_TYPE****', JSON_VALUE(@JSON, '$.DecisionType'))
		SET @EmailContent = REPLACE(@EmailContent, '****ORDER_NUMBER****', JSON_VALUE(@JSON, '$.OrderNumber'))
		IF (select count(*) from LicenceInvoices where LI_LIC_ID = @LIC_ID and LI_InvoiceDate = convert(varchar, getdate(), 23)) > 0 BEGIN
			DECLARE @LI_Amount decimal(18,2)
			SELECT @LI_Amount = SUM(LI_Amount) from LicenceInvoices where LI_LIC_ID = @LIC_ID and LI_InvoiceDate = convert(varchar, getdate(), 23)
			SET @EmailContent = REPLACE(@EmailContent, '****INVOICE****', '<div><h3>Pay your annual fee invoice online</h3>You are required to pay $'+CAST(@LI_Amount as varchar(20))+' for this year''s annual fee. You can download and pay your invoice by logging in to the Liquor and Gaming Online (LGO) portal and navigating to your licence. <br><br><table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed; border-left: 12px solid #dd8533;" bgcolor="#fde9d9"><tbody><tr><td style="color: #dd8533; padding: 10px">Please note payment is required by the due date. If payment is not received by the due date your licence will be suspended.</td></tr></tbody></table><br></div>')
		END
		ELSE
			SET @EmailContent = REPLACE(@EmailContent, '****INVOICE****', '')
		IF @LIC_ID != 217913 BEGIN
			DECLARE @DOC_ID int
			DECLARE @DOC_IDs table (DOC_ID int)
			IF (SELECT COUNT(*) FROM Documents WHERE DOC_LIC_ID = @LIC_ID AND DOC_DT_ID = 1 AND LastUpdateDateTime > convert(varchar, getdate(), 23)) > 0	-- liquor licence
				INSERT INTO @DOC_IDs (DOC_ID) SELECT TOP 1 DOC_ID FROM Documents WHERE DOC_LIC_ID = @LIC_ID AND DOC_DT_ID = 1 ORDER BY DOC_ID DESC
			IF (SELECT COUNT(*) FROM Documents WHERE DOC_LIC_ID = @LIC_ID AND DOC_DT_ID = 7 AND LastUpdateDateTime > convert(varchar, getdate(), 23)) > 0	-- gaming licence
				INSERT INTO @DOC_IDs (DOC_ID) SELECT TOP 1 DOC_ID FROM Documents WHERE DOC_LIC_ID = @LIC_ID AND DOC_DT_ID = 7 ORDER BY DOC_ID DESC
			IF (SELECT COUNT(*) FROM Documents WHERE DOC_LIC_ID = @LIC_ID AND DOC_DT_ID = 5 AND DOC_ValidFromDate >= dateadd(day,-1, getdate())) > 0   -- liquor plan
				INSERT INTO @DOC_IDs (DOC_ID) SELECT DOC_ID FROM Documents WHERE DOC_LIC_ID = @LIC_ID AND DOC_DT_ID = 5 AND DOC_ValidFromDate >= dateadd(day,-1, getdate())
			WHILE (select count(*) from @DOC_IDs) > 0 BEGIN
				SELECT TOP 1 @DOC_ID = DOC_ID FROM @DOC_IDs ORDER BY DOC_ID ASC
				DELETE FROM @DOC_IDs WHERE DOC_ID = @DOC_ID
				SET @JSON = JSON_MODIFY(@JSON, 'append $.Attachments', @DOC_ID)
			END
		END
		-- send copies to allocated user and delegate
		DECLARE @UserAddress varchar(128), @DelegateAddress varchar(128)
		SELECT @UserAddress = AU_Email FROM FileAllocation INNER JOIN AppUsers on FA_AU_ID_AllocTo = AU_ID WHERE FA_OBJ_ID = JSON_VALUE(@JSON, '$.APP_ID') and FA_OBJT_ID = 1
		SELECT @DelegateAddress = AU_Email FROM ApplicationOrders INNER JOIN AppUsers on AOR_AU_ID_Delegate = AU_ID WHERE AOR_OrdNo = JSON_VALUE(@JSON, '$.OrderNumber')
		IF @UserAddress IS NOT NULL
			INSERT INTO @CarbonCopies (ToAddress) VALUES (@UserAddress)
		IF @DelegateAddress IS NOT NULL AND (@UserAddress != @DelegateAddress OR @UserAddress IS NULL)
			INSERT INTO @CarbonCopies (ToAddress) VALUES (@DelegateAddress)
	END
	
	ELSE IF @Type = 'InformationRequest' BEGIN
		DECLARE @APP_HearingDate datetime
		SELECT @ToAddress = APP_ContactEmail, @APP_HearingDate = APP_HearingDate FROM Applications where APP_ID = JSON_VALUE(@JSON, '$.APP_ID')
		SET @EmailContent = '<html data-editor-version="2" class="sg-campaigns" xmlns="http://www.w3.org/1999/xhtml"><head> <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"> <meta http-equiv="X-UA-Compatible" content="IE=Edge"> <style type="text/css"> body, p, div{font-family: arial, helvetica, sans-serif; font-size: 14px}body{color: #000}body a{color: #1188E6; text-decoration: none}p{margin: 0; padding: 0}table.wrapper{width: 100% !important; table-layout: fixed; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%}img.max-width{max-width: 100% !important}.column.of-2{width: 50%}.column.of-3{width: 33.333%}.column.of-4{width: 25%}@media screen and (max-width:480px){.preheader .rightColumnContent, .footer .rightColumnContent{text-align: left !important}.preheader .rightColumnContent div, .preheader .rightColumnContent span, .footer .rightColumnContent div, .footer .rightColumnContent span{text-align: left !important}.preheader .rightColumnContent, .preheader .leftColumnContent{font-size: 80% !important; padding: 5px 0}table.wrapper-mobile{width: 100% !important; table-layout: fixed}img.max-width{height: auto !important; max-width: 100% !important}a.bulletproof-button{display: block !important; width: auto !important; font-size: 80%; padding-left: 0 !important; padding-right: 0 !important}.columns{width: 100% !important}.column{display: block !important; width: 100% !important; padding-left: 0 !important; padding-right: 0 !important; margin-left: 0 !important; margin-right: 0 !important}}</style></head><body> <center class="wrapper" data-link-color="#1188E6" data-body-style="font-size:14px; font-family:arial,helvetica,sans-serif; color:#000000; background-color:#ffffff;"> <div class="webkit"> <table cellpadding="0" cellspacing="0" border="0" width="100%" class="wrapper" bgcolor="#ffffff"> <tbody> <tr> <td valign="top" bgcolor="#ffffff" width="100%"> <table width="100%" role="content-container" class="outer" align="center" cellpadding="0" cellspacing="0" border="0"> <tbody> <tr> <td width="100%"> <table width="100%" cellpadding="0" cellspacing="0" border="0"> <tbody> <tr> <td> <table width="100%" cellpadding="0" cellspacing="0" border="0" style="width:100%; max-width:720px;" align="center"> <tbody> <tr> <td role="modules-container" style="padding:0px 0px 0px 0px; color:#000000; text-align:left;" bgcolor="#FFFFFF" width="100%" align="left"> <table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="c562be02-558d-4899-b9f7-cbea97383516"> <tbody> <tr> <td style="padding:0px 0px 50px 0px;" role="module-content" bgcolor=""></td></tr></tbody> </table> <table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="9689311f-ea9b-4212-9d54-d7520368d540"> <tbody> <tr> <td style="padding:0px 0px 8px 0px;" role="module-content" bgcolor="#002776"></td></tr></tbody> </table> <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" role="module" data-type="columns" style="padding:0px 20px 0px 20px;" bgcolor="#f4f5f9"> <tbody> <tr role="module-content"> <td height="100%" valign="top"> <table class="column" width="680" style="width:680px; border-spacing:0; border-collapse:collapse; margin:0px 20px 0px 20px;" cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""> <tbody> <tr> <td style="padding:0px;margin:0px;border-spacing:0;"> <table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="7306c8a7-55b7-4e52-a437-58100495946e"> <tbody> <tr> <td style="padding:0px 0px 30px 0px;" role="module-content" bgcolor=""></td></tr></tbody> </table> <table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="b3cfbc50-5a2c-4b82-aa28-d2d2859bc2d5" data-mc-module-version="2019-10-22"> <tbody> <tr> <td style="padding:18px 18px 18px 18px; line-height:26px; text-align:inherit; background-color:#ffffff;" height="100%" valign="top" bgcolor="#ffffff" role="module-content"> <div>Good ****MORNING_AFTERNOON****<br><br><table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;"><tbody><tr><td style="width: 30%" width="30%"><strong>Reference No:</strong></td><td>****LGO_REFERENCE****</td></tr><tr><td style="vertical-align: top"><strong>Application types:</strong></td><td>****APP_TYPES****</td></tr><tr><td style="vertical-align: top"><strong>Premises:</strong></td><td>****PREMISES****</td></tr></tbody></table><br><br>Please be advised that your case manager for the above application(s) has requested further supporting documentation.<br><br>Please log on to <a href="https://lgo.cbs.sa.gov.au/">Liquor and Gaming Online (LGO)</a> and upload the following supporting document(s) at your earliest convenience:<br>****REQUIRED_DOCUMENTS****<br><table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed; border-left: 12px solid #dd8533;" bgcolor="#fde9d9"><tbody><tr><td style="color: #dd8533; padding: 10px">The documents requested above are required at least 7 days prior to the determination date currently set for <strong>****HEARING_DATE****</strong>.</td></tr></tbody></table><br><br>Kind regards<br><br>The Liquor &amp; Gaming Team<br>Consumer and Business Services</div></td></tr></tbody> </table> <table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="d741b0b1-5f40-40d3-b371-d13ad8e3d97c.2"> <tbody> <tr> <td style="padding:0px 0px 30px 0px;" role="module-content" bgcolor=""></td></tr></tbody> </table> <table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="8e45a094-c96e-40b0-9348-0ab878558e7b" data-mc-module-version="2019-10-22"> <tbody> <tr> <td style="padding:18px 0px 18px 0px; line-height:22px; text-align:inherit;" height="100%" valign="top" bgcolor="" role="module-content"> <div> <div style="font-family: inherit; text-align: center"><span style="color: #999999; font-size: 9px; font-family: arial,helvetica,sans-serif">This message was sent by Liquor &amp; Gaming Online (LGO). Do not reply</span></div><div></div></div></td></tr></tbody> </table> </td></tr></tbody> </table> </td></tr></tbody> </table> </td></tr></tbody> </table> </td></tr></tbody> </table> </td></tr></tbody> </table> </td></tr></tbody> </table> </div></center></body></html>'
		SET @EmailContent = REPLACE(@EmailContent, '****MORNING_AFTERNOON****', JSON_VALUE(@JSON, '$.MorningAfternoon'))
		SET @EmailContent = REPLACE(@EmailContent, '****LGO_REFERENCE****', JSON_VALUE(@JSON, '$.LGOReference'))
		SET @EmailContent = REPLACE(@EmailContent, '****APP_TYPES****', JSON_VALUE(@JSON, '$.AppTypes'))
		SET @EmailContent = REPLACE(@EmailContent, '****PREMISES****', JSON_VALUE(@JSON, '$.Premises'))
		SET @EmailContent = REPLACE(@EmailContent, '****REQUIRED_DOCUMENTS****', JSON_VALUE(@JSON, '$.RequiredDocuments'))
		IF @APP_HearingDate IS NOT NULL
			SET @EmailContent = REPLACE(@EmailContent, '****HEARING_DATE****', FORMAT (@APP_HearingDate, 'dd/MM/yyyy'))
		ELSE
			SET @EmailContent = REPLACE(@EmailContent, '****HEARING_DATE****', 'N/A')
		SET @JSON = JSON_MODIFY(@JSON, '$.Note', 'Information request email sent to ' + @ToAddress + ': ' + JSON_VALUE(@JSON, '$.RequiredDocuments'))
	END

	ELSE IF @Type = 'HearingNotification' BEGIN
		DECLARE @OBJ_Emails varchar(max)
		SELECT @ToAddress = APP_ContactEmail FROM Applications where APP_ID = JSON_VALUE(@JSON, '$.APP_ID')
		INSERT INTO @CarbonCopies (ToAddress)
			SELECT DISTINCT OBJ_Email FROM vwWebLicenceSystemSubmissions WHERE AO_APP_ID = JSON_VALUE(@JSON, '$.APP_ID')
		SET @EmailContent = '<html data-editor-version="2" class="sg-campaigns" xmlns="http://www.w3.org/1999/xhtml"><head> <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"> <meta http-equiv="X-UA-Compatible" content="IE=Edge"> <style type="text/css"> body, p, div{font-family: arial, helvetica, sans-serif; font-size: 14px}body{color: #000}body a{color: #1188E6; text-decoration: none}p{margin: 0; padding: 0}table.wrapper{width: 100% !important; table-layout: fixed; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%}img.max-width{max-width: 100% !important}.column.of-2{width: 50%}.column.of-3{width: 33.333%}.column.of-4{width: 25%}@media screen and (max-width:480px){.preheader .rightColumnContent, .footer .rightColumnContent{text-align: left !important}.preheader .rightColumnContent div, .preheader .rightColumnContent span, .footer .rightColumnContent div, .footer .rightColumnContent span{text-align: left !important}.preheader .rightColumnContent, .preheader .leftColumnContent{font-size: 80% !important; padding: 5px 0}table.wrapper-mobile{width: 100% !important; table-layout: fixed}img.max-width{height: auto !important; max-width: 100% !important}a.bulletproof-button{display: block !important; width: auto !important; font-size: 80%; padding-left: 0 !important; padding-right: 0 !important}.columns{width: 100% !important}.column{display: block !important; width: 100% !important; padding-left: 0 !important; padding-right: 0 !important; margin-left: 0 !important; margin-right: 0 !important}}</style> </head> <body> <center class="wrapper" data-link-color="#1188E6" data-body-style="font-size:14px; font-family:arial,helvetica,sans-serif; color:#000000; background-color:#ffffff;"> <div class="webkit"> <table cellpadding="0" cellspacing="0" border="0" width="100%" class="wrapper" bgcolor="#ffffff"> <tbody> <tr> <td valign="top" bgcolor="#ffffff" width="100%"> <table width="100%" role="content-container" class="outer" align="center" cellpadding="0" cellspacing="0" border="0"> <tbody> <tr> <td width="100%"> <table width="100%" cellpadding="0" cellspacing="0" border="0"> <tbody> <tr> <td> <table width="100%" cellpadding="0" cellspacing="0" border="0" style="width:100%; max-width:720px;" align="center"> <tbody> <tr> <td role="modules-container" style="padding:0px 0px 0px 0px; color:#000000; text-align:left;" bgcolor="#FFFFFF" width="100%" align="left"> <table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="c562be02-558d-4899-b9f7-cbea97383516"> <tbody> <tr> <td style="padding:0px 0px 50px 0px;" role="module-content" bgcolor=""></td></tr></tbody> </table> <table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="9689311f-ea9b-4212-9d54-d7520368d540"> <tbody> <tr> <td style="padding:0px 0px 8px 0px;" role="module-content" bgcolor="#002776"></td></tr></tbody> </table> <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" role="module" data-type="columns" style="padding:0px 20px 0px 20px;" bgcolor="#f4f5f9"> <tbody> <tr role="module-content"> <td height="100%" valign="top"> <table class="column" width="680" style="width:680px; border-spacing:0; border-collapse:collapse; margin:0px 20px 0px 20px;" cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""> <tbody> <tr> <td style="padding:0px;margin:0px;border-spacing:0;"> <table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="7306c8a7-55b7-4e52-a437-58100495946e"> <tbody> <tr> <td style="padding:0px 0px 30px 0px;" role="module-content" bgcolor=""></td></tr></tbody> </table> <table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="b3cfbc50-5a2c-4b82-aa28-d2d2859bc2d5" data-mc-module-version="2019-10-22"> <tbody> <tr> <td style="padding:18px 18px 18px 18px; line-height:26px; text-align:inherit; background-color:#ffffff;" height="100%" valign="top" bgcolor="#ffffff" role="module-content"> <div> Good ****MORNING_AFTERNOON****<br><br>Please be advised your <strong>attendance is required at the ****HEARING_TYPE****</strong> on ****HEARING_DATE**** at ****HEARING_TIME**** in relation to the following application/s:<br><br><table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;"> <tbody> <tr> <td style="width: 30%" width="30%"><strong>Reference No:</strong></td><td>****LGO_REFERENCE****</td></tr><tr> <td style="vertical-align: top"><strong>Application types:</strong></td><td>****APP_TYPES****</td></tr><tr> <td style="vertical-align: top"><strong>Premises:</strong></td><td>****PREMISES****</td></tr><tr> <td style="vertical-align: top"><strong>Premises Address:</strong></td><td>****PREMISES_ADDRESS****</td></tr></tbody> </table> <br>The ****HEARING_TYPE**** will be held in the <strong>Hearing Room, Level 4 Chesser House, 91 Grenfell Street, Adelaide.</strong><br><br>Please wait in the area directly outside of the elevators and the Hearings Delegate will come and introduce themselves prior to the scheduled hearing time.<br><br>If you are unable to attend in person please contact us prior to the hearing date using the following details:<br>Email: <a href="mailto:LiquorAndGaming@sa.gov.au?subject=****LGO_REFERENCE****">LiquorAndGaming@sa.gov.au</a> (Please include Ref. ****LGO_REFERENCE**** in the subject line)<br>Phone:131 882<br><br>The parties are encouraged to discuss the matter prior to the date mentioned above. If the parties reach an agreement prior to that date, please advise this office and provide a copy of the terms of settlement.<br><br>Kind regards<br><br>The Liquor &amp; Gaming Team<br>Consumer and Business Services </div></td></tr></tbody> </table> <table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="d741b0b1-5f40-40d3-b371-d13ad8e3d97c.2"> <tbody> <tr> <td style="padding:0px 0px 30px 0px;" role="module-content" bgcolor=""></td></tr></tbody> </table> <table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="8e45a094-c96e-40b0-9348-0ab878558e7b" data-mc-module-version="2019-10-22"> <tbody> <tr> <td style="padding:18px 0px 18px 0px; line-height:22px; text-align:inherit;" height="100%" valign="top" bgcolor="" role="module-content"> <div> <div style="font-family: inherit; text-align: center"><span style="color: #999999; font-size: 9px; font-family: arial,helvetica,sans-serif">This message was sent by Liquor &amp; Gaming Online (LGO). Do not reply</span></div><div></div></div></td></tr></tbody> </table> </td></tr></tbody> </table> </td></tr></tbody> </table> </td></tr></tbody> </table> </td></tr></tbody> </table> </td></tr></tbody> </table> </td></tr></tbody> </table> </div></center> </body></html>'
		SET @EmailContent = REPLACE(@EmailContent, '****MORNING_AFTERNOON****', JSON_VALUE(@JSON, '$.MorningAfternoon'))
		SET @EmailContent = REPLACE(@EmailContent, '****LGO_REFERENCE****', JSON_VALUE(@JSON, '$.LGOReference'))
		SET @EmailContent = REPLACE(@EmailContent, '****APP_TYPES****', JSON_VALUE(@JSON, '$.AppTypes'))
		SET @EmailContent = REPLACE(@EmailContent, '****PREMISES****', JSON_VALUE(@JSON, '$.Premises'))
		SET @EmailContent = REPLACE(@EmailContent, '****PREMISES_ADDRESS****', JSON_VALUE(@JSON, '$.PremisesAddress'))
		SET @EmailContent = REPLACE(@EmailContent, '****HEARING_DATE****', JSON_VALUE(@JSON, '$.HearingDate'))
		SET @EmailContent = REPLACE(@EmailContent, '****HEARING_TIME****', JSON_VALUE(@JSON, '$.HearingTime'))
		SET @EmailContent = REPLACE(@EmailContent, '****HEARING_TYPE****', JSON_VALUE(@JSON, '$.HearingType'))
	END
	
	ELSE IF @Type = 'FRTnotification' BEGIN
		SET @ToAddress = 'admin@igcltd.com.au'
		SET @EmailContent = '<html data-editor-version="2" class="sg-campaigns" xmlns="http://www.w3.org/1999/xhtml"><head> <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"> <meta http-equiv="X-UA-Compatible" content="IE=Edge"> <style type="text/css"> body, p, div{font-family: arial, helvetica, sans-serif; font-size: 14px}body{color: #000}body a{color: #1188E6; text-decoration: none}p{margin: 0; padding: 0}table.wrapper{width: 100% !important; table-layout: fixed; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%}img.max-width{max-width: 100% !important}.column.of-2{width: 50%}.column.of-3{width: 33.333%}.column.of-4{width: 25%}@media screen and (max-width:480px){.preheader .rightColumnContent, .footer .rightColumnContent{text-align: left !important}.preheader .rightColumnContent div, .preheader .rightColumnContent span, .footer .rightColumnContent div, .footer .rightColumnContent span{text-align: left !important}.preheader .rightColumnContent, .preheader .leftColumnContent{font-size: 80% !important; padding: 5px 0}table.wrapper-mobile{width: 100% !important; table-layout: fixed}img.max-width{height: auto !important; max-width: 100% !important}a.bulletproof-button{display: block !important; width: auto !important; font-size: 80%; padding-left: 0 !important; padding-right: 0 !important}.columns{width: 100% !important}.column{display: block !important; width: 100% !important; padding-left: 0 !important; padding-right: 0 !important; margin-left: 0 !important; margin-right: 0 !important}}</style> </head> <body> <center class="wrapper" data-link-color="#1188E6" data-body-style="font-size:14px; font-family:arial,helvetica,sans-serif; color:#000000; background-color:#ffffff;"> <div class="webkit"> <table cellpadding="0" cellspacing="0" border="0" width="100%" class="wrapper" bgcolor="#ffffff"> <tbody> <tr> <td valign="top" bgcolor="#ffffff" width="100%"> <table width="100%" role="content-container" class="outer" align="center" cellpadding="0" cellspacing="0" border="0"> <tbody> <tr> <td width="100%"> <table width="100%" cellpadding="0" cellspacing="0" border="0"> <tbody> <tr> <td> <table width="100%" cellpadding="0" cellspacing="0" border="0" style="width:100%; max-width:720px;" align="center"> <tbody> <tr> <td role="modules-container" style="padding:0px 0px 0px 0px; color:#000000; text-align:left;" bgcolor="#FFFFFF" width="100%" align="left"> <table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="c562be02-558d-4899-b9f7-cbea97383516"> <tbody> <tr> <td style="padding:0px 0px 50px 0px;" role="module-content" bgcolor=""></td></tr></tbody> </table> <table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="9689311f-ea9b-4212-9d54-d7520368d540"> <tbody> <tr> <td style="padding:0px 0px 8px 0px;" role="module-content" bgcolor="#002776"></td></tr></tbody> </table> <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" role="module" data-type="columns" style="padding:0px 20px 0px 20px;" bgcolor="#f4f5f9"> <tbody> <tr role="module-content"> <td height="100%" valign="top"> <table class="column" width="680" style="width:680px; border-spacing:0; border-collapse:collapse; margin:0px 20px 0px 20px;" cellpadding="0" cellspacing="0" align="left" border="0" bgcolor=""> <tbody> <tr> <td style="padding:0px;margin:0px;border-spacing:0;"> <table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="7306c8a7-55b7-4e52-a437-58100495946e"> <tbody> <tr> <td style="padding:0px 0px 30px 0px;" role="module-content" bgcolor=""></td></tr></tbody> </table> <table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="b3cfbc50-5a2c-4b82-aa28-d2d2859bc2d5" data-mc-module-version="2019-10-22"> <tbody> <tr> <td style="padding:18px 18px 18px 18px; line-height:26px; text-align:inherit; background-color:#ffffff;" height="100%" valign="top" bgcolor="#ffffff" role="module-content"> <div>THIS IS AN AUTOMATED MESSAGE<br><br>In accordance with Part 3 of the <i>Gambling Administration Act 2019</i> the Liquor and Gambling Commissioner asks IGC to note that the following holder of a gaming machine licence has engaged with an approved provider of facial recognition technology for the purposes of the <i>Gaming Machines Act 1992</i>:<br><br><table border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;"> <tbody> <tr> <td style="width: 30%" width="30%"><strong>Licence Number:</strong></td><td>****LICENCE_NUMBER****</td></tr><tr> <td style="vertical-align: top"><strong>Venue Name:</strong></td><td>****VENUE_NAME****</td></tr><tr> <td style="vertical-align: top"><strong>Effective Date:</strong></td><td>****EFFECTIVE_DATE****</td></tr></tbody> </table> <br>Any enquiries should be directed to CBS Gambling Administration on 131 882 or gamblingadministration@sa.gov.au<br><br>Kind regards<br><br>The Liquor &amp; Gaming Team<br>Consumer and Business Services </div></td></tr></tbody> </table> <table class="module" role="module" data-type="spacer" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="d741b0b1-5f40-40d3-b371-d13ad8e3d97c.2"> <tbody> <tr> <td style="padding:0px 0px 30px 0px;" role="module-content" bgcolor=""></td></tr></tbody> </table> <table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;" data-muid="8e45a094-c96e-40b0-9348-0ab878558e7b" data-mc-module-version="2019-10-22"> <tbody> <tr> <td style="padding:18px 0px 18px 0px; line-height:22px; text-align:inherit;" height="100%" valign="top" bgcolor="" role="module-content"> <div> <div style="font-family: inherit; text-align: center"><span style="color: #999999; font-size: 9px; font-family: arial,helvetica,sans-serif">This message was sent by Liquor &amp; Gaming Online (LGO). Do not reply</span></div><div></div></div></td></tr></tbody> </table> </td></tr></tbody> </table> </td></tr></tbody> </table> </td></tr></tbody> </table> </td></tr></tbody> </table> </td></tr></tbody> </table> </td></tr></tbody> </table> </div></center> </body></html>'
		SET @EmailContent = REPLACE(@EmailContent, '****LICENCE_NUMBER****', JSON_VALUE(@JSON, '$.LicenceNumber'))
		SET @EmailContent = REPLACE(@EmailContent, '****VENUE_NAME****', JSON_VALUE(@JSON, '$.VenueName'))
		SET @EmailContent = REPLACE(@EmailContent, '****EFFECTIVE_DATE****', JSON_VALUE(@JSON, '$.EffectiveDate'))
	END

	SET @EmailContent = REPLACE(@EmailContent, '****TITLE****', @Subject)
	SET @EmailContent = REPLACE(@EmailContent, '****CONTENT****', @Content)
	
	IF JSON_VALUE(@JSON, '$.Link') is not null BEGIN
		DECLARE @Link varchar(1024)
		SET @Link = @SecureCBS_URL + JSON_VALUE(@JSON, '$.Link')
		SET @EmailContent = REPLACE(@EmailContent, '****LINK****', @Link)
	END
	
	if(@ToAddress is not null AND @Subject is not null and @EmailContent is not null) 
	BEGIN
		DECLARE @NQ_ID numeric(18,0)
		IF JSON_QUERY(@JSON, '$.Attachments') IS NOT NULL
			SET @EmailContent = @EmailContent + '<!--ATTACHMENTS:' + JSON_QUERY(@JSON, '$.Attachments') + '-->'
		INSERT INTO LGO_NotificationQueue (NotificationName,SentDate,FreeEmailToAddress,FreeEmailSubject,FreeEmailContent,CreationDateTime,CreationUser,LastUpdateDateTime,LastUpdateUser,CreateNote)
			VALUES ('DECISIONS_APP_FREE',GETDATE(),@ToAddress,@Subject,@EmailContent,GETDATE(),'LGX',GETDATE(),'LGX',0)
		SET @NQ_ID = SCOPE_IDENTITY()
		IF JSON_QUERY(@JSON, '$.Attachments') IS NOT NULL BEGIN
			INSERT INTO LGO_NotificationQueueAttachments (NQ_ID, AttachmentFile, FileNameAndExtension, CreationDateTime,CreationUser,LastUpdateDateTime,LastUpdateUser)
				SELECT @NQ_ID, CASE WHEN DOC_FileStream IS NOT NULL THEN DOC_FileStream ELSE DOC_File END, DOC_FileName, getdate(), 'LGX', getdate(), 'LGX' FROM Documents WHERE DOC_ID IN (select value from OPENJSON(JSON_QUERY(@JSON, '$.Attachments')))
		END
		UPDATE LGO_NotificationQueue SET SentDate = NULL WHERE NQ_ID = @NQ_ID
		-- send carbon copies
		DECLARE @ID int = 0
		IF (SELECT count(*) FROM @CarbonCopies) > 0 BEGIN
			WHILE 1 = 1 BEGIN
				SELECT @ID = MIN(ID) FROM @CarbonCopies WHERE ID > @ID
				IF @ID IS NULL BREAK
				SELECT @ToAddress = ToAddress FROM @CarbonCopies WHERE ID = @ID
				INSERT INTO LGO_NotificationQueue (NotificationName,SentDate,FreeEmailToAddress,FreeEmailSubject,FreeEmailContent,CreationDateTime,CreationUser,LastUpdateDateTime,LastUpdateUser,CreateNote)
					VALUES ('DECISIONS_APP_FREE',GETDATE(),@ToAddress,@Subject,@EmailContent,GETDATE(),'LGX',GETDATE(),'LGX',0)
				SET @NQ_ID = SCOPE_IDENTITY()
				IF JSON_QUERY(@JSON, '$.Attachments') IS NOT NULL BEGIN
					INSERT INTO LGO_NotificationQueueAttachments (NQ_ID, AttachmentFile, FileNameAndExtension, CreationDateTime,CreationUser,LastUpdateDateTime,LastUpdateUser)
						SELECT @NQ_ID, CASE WHEN DOC_FileStream IS NOT NULL THEN DOC_FileStream ELSE DOC_File END, DOC_FileName, getdate(), 'LGX', getdate(), 'LGX' FROM Documents WHERE DOC_ID IN (select value from OPENJSON(JSON_QUERY(@JSON, '$.Attachments')))
				END
				UPDATE LGO_NotificationQueue SET SentDate = NULL WHERE NQ_ID = @NQ_ID
			END
		END
		-- add note
		IF JSON_VALUE(@JSON, '$.Note') IS NOT NULL BEGIN
			declare @Note varchar(max), @NoteAbbr varchar(max), @OBJ_ID int, @Attachment varchar(max) = null
			select @Note = JSON_VALUE(@JSON, '$.Note')
			select @NoteAbbr = LEFT(@Note ,50)
			select @OBJ_ID = JSON_VALUE(@JSON, '$.APP_ID')
			if @Type = 'PermanentLicence'
				set @Attachment = @EmailContent
			exec spWebAddNote @Content = @Note, @Content_Abbreviated = @NoteAbbr, @NT_IsSensitive = 0, @OBJT_Code = 'APP', @NT_OBJ_ID = @OBJ_ID, @NTS_Code = 'CL', @NTYP_Code = 'GEN', @Attachment = @Attachment
		END
		SELECT 'Ok' as Success
	END
	ELSE SELECT 'Fail' as Success

END

